body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:40px;
  width:980px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:437px;
  top:202px;
  width:353px;
  height:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:48px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:392px;
  top:147px;
  width:508px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:204px;
  top:18px;
  width:33px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:268px;
  top:15px;
  width:222px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
