body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:50px;
  width:905px;
  height:795px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:790px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:790px;
}
#u2 {
  position:absolute;
  left:2px;
  top:387px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:790px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:790px;
}
#u4 {
  position:absolute;
  left:2px;
  top:387px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:790px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:790px;
}
#u6 {
  position:absolute;
  left:2px;
  top:387px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:60px;
  width:280px;
  height:180px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u8 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:338px;
  top:60px;
  width:22px;
  height:38px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:380px;
  top:60px;
  width:280px;
  height:180px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u12 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:638px;
  top:60px;
  width:22px;
  height:38px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:680px;
  top:60px;
  width:280px;
  height:180px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u16 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:938px;
  top:60px;
  width:22px;
  height:38px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:80px;
  top:250px;
  width:280px;
  height:180px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u20 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:338px;
  top:250px;
  width:22px;
  height:38px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:980px;
  top:66px;
  width:100px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000099;
  font-weight:normal;
  font-style:normal;
  text-decoration:underline;
}
#u24 {
  position:absolute;
  left:980px;
  top:110px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000099;
  font-weight:normal;
  font-style:normal;
  text-decoration:underline;
}
#u25 {
  position:absolute;
  left:143px;
  top:66px;
  width:129px;
  height:38px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:80px;
  top:104px;
  width:280px;
  height:126px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:126px;
}
#u28 {
  position:absolute;
  left:2px;
  top:55px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:441px;
  top:66px;
  width:129px;
  height:38px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:396px;
  top:108px;
  width:254px;
  height:122px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:122px;
}
#u32 {
  position:absolute;
  left:2px;
  top:53px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:700px;
  top:76px;
  width:240px;
  height:154px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:154px;
}
#u34 {
  position:absolute;
  left:2px;
  top:69px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:143px;
  top:250px;
  width:129px;
  height:38px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:980px;
  top:261px;
  width:418px;
  height:112px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:112px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:380px;
  top:250px;
  width:280px;
  height:180px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u40 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:638px;
  top:250px;
  width:22px;
  height:38px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:380px;
  top:264px;
  width:260px;
  height:151px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:151px;
}
#u44 {
  position:absolute;
  left:2px;
  top:68px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:720px;
  top:80px;
  width:201px;
  height:24px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:80px;
  top:288px;
  width:280px;
  height:132px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:132px;
}
#u48 {
  position:absolute;
  left:2px;
  top:58px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:680px;
  top:250px;
  width:280px;
  height:180px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u50 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:938px;
  top:250px;
  width:22px;
  height:38px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:743px;
  top:250px;
  width:161px;
  height:38px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:690px;
  top:288px;
  width:260px;
  height:132px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:132px;
}
#u56 {
  position:absolute;
  left:2px;
  top:58px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:80px;
  top:440px;
  width:280px;
  height:180px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u58 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:338px;
  top:440px;
  width:22px;
  height:38px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:143px;
  top:440px;
  width:129px;
  height:38px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:80px;
  top:478px;
  width:280px;
  height:132px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:132px;
}
#u64 {
  position:absolute;
  left:2px;
  top:58px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:380px;
  top:440px;
  width:280px;
  height:180px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:180px;
}
#u66 {
  position:absolute;
  left:2px;
  top:82px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:638px;
  top:440px;
  width:22px;
  height:38px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:38px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:443px;
  top:440px;
  width:161px;
  height:38px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:380px;
  top:478px;
  width:280px;
  height:132px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:132px;
}
#u72 {
  position:absolute;
  left:2px;
  top:58px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
