body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:100px;
  width:356px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:64px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:60px;
  top:40px;
  width:289px;
  height:38px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:38px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
