body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:17px;
  top:10px;
  width:683px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:198px;
  width:200px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:350px;
  width:622px;
  height:790px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:790px;
}
#u5 {
  position:absolute;
  left:2px;
  top:387px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:730px;
  top:698px;
  width:350px;
  height:96px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:96px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:740px;
  top:248px;
  width:200px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:718px;
  top:776px;
  width:632px;
  height:494px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:494px;
}
#u11 {
  position:absolute;
  left:2px;
  top:239px;
  width:628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:370px;
  top:560px;
  width:258px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:64px;
  top:630px;
  width:576px;
  height:320px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:320px;
}
#u15 {
  position:absolute;
  left:2px;
  top:152px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:330px;
  top:609px;
  width:20px;
  height:21px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
