body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:17px;
  top:10px;
  width:683px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:679px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:740px;
  top:198px;
  width:200px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:350px;
  width:622px;
  height:676px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:676px;
}
#u5 {
  position:absolute;
  left:2px;
  top:330px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:730px;
  top:698px;
  width:200px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:740px;
  top:248px;
  width:200px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
