body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1326px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-8px;
  top:94px;
  width:1178px;
  height:556px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:556px;
}
#u1 {
  position:absolute;
  left:2px;
  top:270px;
  width:1174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:94px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:34px;
  top:164px;
  width:112px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:146px;
  top:164px;
  width:120px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:34px;
  top:218px;
  width:131px;
  height:57px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:52px;
  font-size:11px;
  color:#FF0000;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:302px;
  top:136px;
  width:54px;
  height:16px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:398px;
  top:132px;
  width:120px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:146px;
  top:132px;
  width:120px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:34px;
  top:138px;
  width:86px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:522px;
  top:383px;
  width:508px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:34px;
  top:270px;
  width:1305px;
  height:77px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:36px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:36px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1000px;
  top:0px;
  width:100px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1200px;
  top:0px;
  width:100px;
  height:36px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:36px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:200px;
  top:36px;
  width:100px;
  height:36px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:300px;
  top:36px;
  width:100px;
  height:36px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:400px;
  top:36px;
  width:100px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:500px;
  top:36px;
  width:100px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:600px;
  top:36px;
  width:100px;
  height:36px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:700px;
  top:36px;
  width:100px;
  height:36px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:800px;
  top:36px;
  width:100px;
  height:36px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:900px;
  top:36px;
  width:100px;
  height:36px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1000px;
  top:36px;
  width:100px;
  height:36px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1100px;
  top:36px;
  width:100px;
  height:36px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1200px;
  top:36px;
  width:100px;
  height:36px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
