body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:120px;
  width:1037px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:530px;
  top:54px;
  width:450px;
  height:66px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:66px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:587px;
  top:284px;
  width:253px;
  height:26px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
