body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:100px;
  width:405px;
  height:41px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
  color:#FF0000;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u2 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:133px;
  top:0px;
  width:133px;
  height:36px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:110px;
  top:130px;
  width:650px;
  height:490px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:490px;
}
#u8 {
  position:absolute;
  left:2px;
  top:237px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:120px;
  top:160px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:65px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FF0000;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:230px;
  top:140px;
  width:520px;
  height:470px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:470px;
}
#u16 {
  position:absolute;
  left:2px;
  top:227px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:242px;
  top:150px;
  width:498px;
  height:220px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:220px;
}
#u18 {
  position:absolute;
  left:2px;
  top:102px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:242px;
  top:380px;
  width:498px;
  height:220px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:220px;
}
#u20 {
  position:absolute;
  left:2px;
  top:102px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:500px;
  top:343px;
  width:220px;
  height:27px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:520px;
  top:573px;
  width:220px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:176px;
  top:52px;
  width:460px;
  height:38px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  white-space:nowrap;
}
