body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:20px;
  width:760px;
  height:420px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:420px;
}
#u1 {
  position:absolute;
  left:2px;
  top:202px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:454px;
  width:170px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
