body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1284px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-8px;
  top:94px;
  width:950px;
  height:426px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:426px;
}
#u1 {
  position:absolute;
  left:2px;
  top:205px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:94px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#000000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:34px;
  top:164px;
  width:112px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:146px;
  top:164px;
  width:120px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:34px;
  top:196px;
  width:104px;
  height:57px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:52px;
  color:#FF0000;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:52px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:302px;
  top:136px;
  width:54px;
  height:16px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:398px;
  top:132px;
  width:120px;
  height:22px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:146px;
  top:132px;
  width:120px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:34px;
  top:138px;
  width:86px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:372px;
  top:482px;
  width:508px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:504px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:994px;
  top:370px;
  width:298px;
  height:64px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:64px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:20px;
  top:248px;
  width:920px;
  height:234px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:234px;
}
#u21 {
  position:absolute;
  left:2px;
  top:109px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
